@model Quizbee.ViewModels.SurveyViewModel
@{
    ViewBag.Title = Model.PageInfo.PageTitle;

    var formAction = Model.ID > 0 ? Url.UpdateSurvey(Model.ID) : Url.CreateSurvey();

    var createQuizActive = Model.ID > 0 ? string.Empty : "active";
}
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.SurveysList()"><i class="fas fa-clipboard-list"></i>&nbsp;Surveys</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                @if (Model.ID > 0)
                                {
                                    <i class="fas fa-save"></i>
                                }
                                else
                                {
                                    <i class="fas fa-plus"></i>
                                }
                                &nbsp;@Model.PageInfo.PageTitle
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <form role="form" id="operationForm" method="post" action="@formAction">
                        @if (Model.ID > 0)
                        {
                            <input type="hidden" id="ID" name="ID" value="@Model.ID" />
                        }
                        <div class="form-group">
                            <label for="Title">Survey Name</label>
                            <input class="form-control" type="text" id="Name" name="Name" value="@Model.Name" placeholder="Enter survey name">
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Name"] != null && ViewData.ModelState["Name"].Errors.Count > 0)
                            {
                                <div class="m-t-10 alert alert-icon alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <i class="mdi mdi-alert"></i>
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "tx-danger" })
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            <label for="Description">Description</label>
                            <textarea class="form-control" name="Description" placeholder="Enter some Description about this survey" rows="4">@Model.Description</textarea>
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Description"] != null && ViewData.ModelState["Description"].Errors.Count > 0)
                            {
                                <div class="m-t-10 alert alert-icon alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <i class="mdi mdi-alert"></i>
                                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "tx-danger" })
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            <label for="Hours">Hours</label>
                            <input class="form-control" type="text" id="Hours" name="Hours" value="@Model.Hours" placeholder="Enter Hours Duration">
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Hours"] != null && ViewData.ModelState["Hours"].Errors.Count > 0)
                            {
                                <div class="m-t-10 alert alert-icon alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <i class="mdi mdi-alert"></i>
                                    @Html.ValidationMessageFor(m => m.Hours, "", new { @class = "tx-danger" })
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            <label for="Minutes">Minutes</label>
                            <input class="form-control" type="text" id="Minutes" name="Minutes" value="@Model.Minutes" placeholder="Enter Minutes Duration">
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Minutes"] != null && ViewData.ModelState["Minutes"].Errors.Count > 0)
                            {
                                <div class="m-t-10 alert alert-icon alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <i class="mdi mdi-alert"></i>
                                    @Html.ValidationMessageFor(m => m.Minutes, "", new { @class = "tx-danger" })
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            <label for="Minutes">Male Quota</label>
                            <input class="form-control" type="text" id="QFMen" name="QFMen" value="@Model.QFMen" placeholder="Enter Male Quota limit">
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["QFMen"] != null && ViewData.ModelState["QFMen"].Errors.Count > 0)
                            {
                                <div class="m-t-10 alert alert-icon alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <i class="mdi mdi-alert"></i>
                                    @Html.ValidationMessageFor(m => m.QFMen, "", new { @class = "tx-danger" })
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            <label for="Minutes">Female Quota</label>
                            <input class="form-control" type="text" id="QFWomen" name="QFWomen" value="@Model.QFWomen" placeholder="Enter Female Quota limit">
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["QFWomen"] != null && ViewData.ModelState["QFWomen"].Errors.Count > 0)
                            {
                                <div class="m-t-10 alert alert-icon alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <i class="mdi mdi-alert"></i>
                                    @Html.ValidationMessageFor(m => m.QFWomen, "", new { @class = "tx-danger" })
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            <label for="Minutes">Survey Ends On</label>
                            <input class="form-control" type="date" id="ExpireOn" name="ExpireOn" value="@Model.ExpireOn" placeholder="Enter Female Quota limit">
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["ExpireOn"] != null && ViewData.ModelState["ExpireOn"].Errors.Count > 0)
                            {
                                <div class="m-t-10 alert alert-icon alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <i class="mdi mdi-alert"></i>
                                    @Html.ValidationMessageFor(m => m.QFWomen, "", new { @class = "tx-danger" })
                                </div>
                            }
                        </div>
                        <hr />
                        @if (Model.ID > 0)
                        {
                            <button type="submit" id="updateButton" class="btn btn-warning waves-effect waves-light w-md"><i class="fas fa-save mg-r-10"></i>&nbsp;Update this Survey</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt mg-r-10"></i>&nbsp;Delete this Survey</button>
                            <a href="@Url.QuestionsList(Model.ID)" role="button" class="btn btn-info waves-effect waves-light w-md"><i class="fas fa-list-ul mg-r-10"></i>&nbsp;Questions from this Survey</a>
                            if (Model.SQuestions.Count > 0)
                            {
                                <a href="@Url.AttemptSurvey(Model.ID)" role="button" class="btn btn-primary waves-effect waves-light w-md"><i class="fas fa-certificate mg-r-10"></i>&nbsp;Attempt this Survey</a>
                            }
                        }
                        else
                        {
                            <button type="submit" id="addButton" class="btn btn-success waves-effect waves-light w-md"><i class="fas fa-save mg-r-10"></i>&nbsp;Save Survey and Start Adding Questions</button>
                        }
                        <a href="@Url.SurveysList()" role="button" class="btn btn-primary waves-effect waves-light w-md"><i class="fas fa-times mg-r-10"></i>&nbsp;Cancel and Go Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="icon icon ion-android-warning tx-100 tx-warning lh-1 mg-t-20 d-inline-block"></i>
                <h4 class="tx-warning tx-semibold mg-b-20">Warning!</h4>
                <p class="mg-b-20 mg-x-20">Are you sure you want to delete this record? This will not be reversible.</p>
                <button type="button" id="deleteButton" class="btn btn-danger mg-b-20" data-toggle="modal" data-dismiss="modal"><i class="fas fa-trash-alt mg-r-10"></i>&nbsp;Delete</button>
                <button type="button" class="btn btn-primary mg-b-20" data-toggle="modal" data-dismiss="modal"><i class="fas fa-times mg-r-10"></i>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
	$(document).ready(function () {
		$("#updateButton").click(function () {
			$("#operationForm").attr("action", "@Url.UpdateSurvey(Model.ID)");
			$("#operationForm").submit();
		});
		$("#deleteButton").click(function () {
			$("#operationForm").attr("action", "@Url.DeleteSurvey(Model.ID)");
			$("#operationForm").submit();
		});
	});
</script>